/*google fonts*/
body {
	font-family: 'Gothic A1', sans-serif;
	background-image: url(images/wallpaper.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;

}
.title{
	margin: 0 auto;
	width: 100%;
	max-width: 40rem;
	font-size: 4rem;
	text-align: center;
}

.card2{
	color: whitesmoke;
	width: 90%;
	max-width: 400px;
	padding: 5rem 2.5rem;

	border-radius: 1rem;
	border: 1px solid transparent;

	backdrop-filter: blur(1rem);
	box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);

}
.card3{
	color: whitesmoke;
	width: 90%;
	max-width: 400px;
	padding: 2rem 2rem;

	border-radius: 1rem;
	border: 1px solid transparent;

	backdrop-filter: blur(1rem);
	box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
	

}
.cb1{
	background-color: rgba(255, 255, 255, 0.1);
}
.cb2{
	background-color: rgba(2, 68, 35, 0.5);
}
.card-title{
	padding-top: 2rem;
}
.card-text{
	padding-top: 2rem;
}
.card-link2{
	color: rgb(0, 128, 255);
}
.card-link3{
	color: rgb(0, 128, 255);
	text-decoration: none;
}
.label1{
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.btn2{
	
	margin-top: 2rem;
}

.card-link4{
	color: white;
	text-decoration: none;
}
.mb-5{
	padding-top: 2rem;
}
.mb-6{
	padding-top: 2rem;
	color: rgb(70, 180, 125);
}