/*google fonts*/
body {
	font-family: 'Gothic A1', sans-serif;
	/*background-color: rgb(199, 0, 57);
	background-image: url(images/wallpaper.jpg);
	
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;*/

}
.title{
	margin: 0 auto;
	width: 100%;
	max-width: 40rem;
	font-size: 4rem;
	text-align: center;
}

.card2{
	color: rgb(199, 0, 57);
	width: 90%;
	max-width: 400px;
	padding: 2.5rem 2.5rem;

	border-radius: 1rem;
	border: 1px solid transparent;

	backdrop-filter: blur(1rem);
	box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);

}

.cb1{
	background-color: rgba(0, 100, 0, 0.2);
}
.cb2{
	background-color: rgba(0, 100, 0, 0.2);
	color: rgb(199, 0, 57); 	;

}
.card-title{
	padding-top: 2rem;

}
.card-text{
	padding-top: 2rem;

}
.card-link2{
	color: rgb(40, 55, 71);
}
.card-link3{
	color: rgb(40, 55, 71);
	text-decoration: none;
}
.label1{
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.btn2{
	
	margin-top: 2rem;
}

.card-link4{
	color: rgb(199, 0, 57);
	text-decoration: none;
}
.mb-5{
	padding-top: 2rem;
}
.mb-6{
	padding-top: 1rem;
	color: rgb(70, 180, 125);
}
.footer {


	
	

	backdrop-filter: blur(1rem);
	box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);	
   
   left: 0;
   
   width: 100%;
   background-color: rgba(255, 255, 255, 0.1);
   color: white;
   text-align: center;
}
.nav1 {

	backdrop-filter: blur(1rem);
	box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);	
   
   left: 0;
   
   width: 100%;
   background-color: rgba(255, 255, 255, 0.1);
   color: white;
   text-align: left;

}
.span1{
	
	color: rgb(40, 55, 71);
}
.logo1{
	text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
	padding-top: 2.5rem;
}
.logo2{
	box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
	border-color: RGB(249, 231, 159);
	border-width: 2px;

  

}
.navtext{
	margin-left: 10px;
	margin-right: 5px;
	text-decoration: none;

}